body {
    background-color: #F46168;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, p {
    padding: 0;
    margin: 0;
}

em {
    font-style: normal;
    color: #F46168;
}

.header {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.header h1 {
    font-size: 22px;
    color: #fff;
    display: flex;
    align-items: flex-start;
}

.header h1 > span{
    margin-right: 10px;
}

.container{
    width: 700px;
    margin: 0 auto;
}

#input-container{
    margin: 50px 0 50px 0
}

input{
    border: 0;
    border-bottom: 2px solid #fff;
    width: 100%;
    font-size: 30px;
    line-height: 35px;
    height: 70px;
    text-align: left;
    background: transparent;
    color: #fff;
    outline: none;
}

input::placeholder{
    color: #fff;
}

input:active{
    outline: none;
}

.ais-search-box {
    max-width: none!important;
}

.ais-search-box--input {
    padding: 0!important;
}

.ais-search-box:active{
    outline: none;
}

.ais-search-box span {
    display: none!important;
}

/* Single hit styles */

a.hit-link {
    text-decoration: underline;
    color: #000;
    transition: opacity .2s ease-in;
}

a.hit-link:hover {
    opacity: .5;
}

a.hit-link:after {
    content: ' ';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.hit {
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 18px 16px -10px rgba(0,0,0,0.24);
    overflow: hidden;
}

.identifier {
    width: 10px;
    height: 80px;
    background-color: transparent;
    position: absolute;
    top: -30px;
    left: 5px;
    transform: rotate(45deg);
}

.identifier.bazos {
    background-color: #FF6602;
}

.identifier.sbazar {
    background-color: red;
}

.bazos-link.sbazar {
    display: none;
}

.sbazar-link.bazos {
    display: none;
}

.hit-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.hit-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-right: 10px;
}

.hit-image img {
    border-radius: 50%;
    padding: 5px;
    border: 1px solid #e2e2e2;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.hit-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hit-details * {
    margin-right: 15px;
}

.hit-price {
    font-weight: bold;
    font-size: 20px;
}

.ais-hits__empty {
    text-align: center;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
}

.ais-pagination {
    text-align: center;
    padding: 10px 0 50px 0;
}

.ais-pagination li {
    margin: 0 5px;
}

.ais-pagination li > a {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.ais-pagination--item__page {
    text-decoration: underline;
}

.ais-pagination--item__next, .ais-pagination--item__last, .ais-pagination--item__previous, .ais-pagination--item__first a {
    text-decoration: none;
}
